
button{
height: 50px;
width: 50px;
border: none;
border-radius: 25px;
color: white;
background-color:rgb(72, 70, 70);
font-size: large;
}

.btn-orange{
background-color: goldenrod;
}

.btn-clear{
font-size: small;
}

.text-field{
font-size: 2.5rem;
color: white;
margin-top: 50px;
min-height: 3rem;
}

.h1{
color: white;
}